@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-student{
    background-color: rgb(92, 87, 140);
}

.bg-student-white {
    background-color: #f2f1f4;
}
.hover\:bg-student-white:hover {
    background-color: #f2f1f4;
}

.text-student {
    color: rgb(92, 87, 140);
}

.border-student {
    border-color: #5c578c;
}
.hover\:text-student:hover {
    color: #5c578c;
}

.bg-student-dark {
    background-color: #4c4471;
}

.text-student-dark {
    color: #4c4471;
}
.border-student-dark {
    border-color: #4c4471;
}
.hover\:text-student-dark:hover {
    color: #4c4471;
}
.hover\:bg-student-dark:hover {
    background-color: #4c4471;
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    opacity: 1;
    transition: opacity 0.3s;
}

/* Add these styles to your CSS file or style section */

.gold-medal {
    background-color: #ffd700; /* Gold */
}

.silver-medal {
    background-color: #c0c0c0; /* Silver */
}

.bronze-medal {
    background-color: #cd7f32; /* Bronze */
}

/* Additional styling for medal rows */
.gold-medal td {
    color: #000000; /* Black text for visibility on gold background */
}

.silver-medal td {
    color: #000000; /* Black text for visibility on silver background */
}

.bronze-medal td {
    color: #ffffff; /* White text for visibility on bronze background */
}

@font-face {
    font-family: 'ClashDisplay-Medium';
    src: local('ClashDisplay-Medium'), url('/resources/fonts/ClashDisplay-Medium.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

.clashdisplaymedium {
    font-family: 'ClashDisplay-Medium', sans-serif;
}


/* ::-webkit-scrollbar {
    width: 0.4rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5c578c;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 0.4rem;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #5c578c;
    border-radius: 12px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
} */
