@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-student{
    background-color: #5c578c;
}

.bg-student-white {
    background-color: #f2f1f4;
}
.hover\:bg-student-white:hover {
    background-color: #f2f1f4;
}

.text-student {
    color: #5c578c;
}

.border-student {
    border-color: #5c578c;
}
.hover\:text-student:hover {
    color: #5c578c;
}

.bg-student-dark {
    background-color: #4c4471;
}

.text-student-dark {
    color: #4c4471;
}
.border-student-dark {
    border-color: #4c4471;
}
.hover\:text-student-dark:hover {
    color: #4c4471;
}
.hover\:bg-student-dark:hover {
    background-color: #4c4471;
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 1;
    transition: opacity 0.3s;
}

@font-face {
    font-family: 'Athletics-Bold';
    src: local('Athletics-Bold'), url('/resources/fonts/Athletics-Bold.woff2') format('woff2');

    font-display: swap;
}

/* For Webkit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 0.4rem; /* Adjust the width as needed */
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5c578c; /* Violet-400 color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent color for the track (the non-draggable part) */
}

/* For Firefox */
/* Note: Firefox uses a different syntax for scrollbar styling */
/* You may need to use Firefox-specific styles for complete compatibility */
* {
    scrollbar-width: thin; /* Width of the scrollbar */
}

*::-webkit-scrollbar {
    width: 0.4rem; /* Adjust the width as needed */
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #5c578c; /* Violet-400 color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent color for the track */
}
